.footer {
  text-align: center;
  font-size: 0.9rem;
  background-image: url('/dirt.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  background-size: 32px 32px;
  color: white;
  text-align: center;
  padding: 1rem;
  text-shadow: 2px 2px 4px #000;
  border-top: 4px solid #6b4e16;
}
